<mat-toolbar class="toolbar">
  <a (click)="navigateTo('myDeals');" class="logo">Term Sheet</a>
  <mat-nav-list class="list-horizontal">
    @if (selectedItem === 'myDeals') {
    <mat-list-item (click)="navigateTo('addDeal');">
      <span>
        <mat-icon class="toolbar-icon">add</mat-icon>
        <span class="nav-text">New Deal</span>
      </span>
    </mat-list-item>
    } @else {
    <mat-list-item (click)="navigateTo('myDeals');">
      <span>
        <mat-icon class="toolbar-icon">home</mat-icon>
        <span class="nav-text">My Deals</span>
      </span>
    </mat-list-item>
    }
  </mat-nav-list>
</mat-toolbar>
<div class="container">
<main>
<router-outlet />
</main>
<footer>
  <p>© 2024 Deals App - By Diego Pessoa</p>
</footer>
</div>
